---
layout: post
---

<style>

.calendar-wrapper {
  font-family: Arial, sans-serif;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  margin: 0;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  width: 80%;
  max-width: 600px;
}

.day-label, .day {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  background-color: #0f0f23;
  width: 100%;
  box-sizing: border-box;
}

.day:hover {
  background-color: #007bff;
  color: #fff;
}

</style>
<div class="calendar-wrapper">
  <div class="calendar">
    <div class="day-label">Sun</div>
    <div class="day-label">Mon</div>
    <div class="day-label">Tue</div>
    <div class="day-label">Wed</div>
    <div class="day-label">Thu</div>
    <div class="day-label">Fri</div>
    <div class="day-label">Sat</div>

    <!-- /pages/2024AdventOfCode/ -->
    <a href="/pages/2024AdventOfCode/day1_adventofcode.html" class="day">1</a>
    <a href="" class="day">2</a>
    <a href="/pages/2024AdventOfCode/day3_adventofcode.html" class="day">3</a>
    <a href="/pages/2024AdventOfCode/day4_adventofcode.html" class="day">4</a>
    <a href="/pages/2024AdventOfCode/day5_adventofcode.html" class="day">5</a>
    <a href="" class="day">6</a>
    <a href="" class="day">7</a>
    <a href="" class="day">8</a>
    <a href="" class="day">9</a>
    <a href="" class="day">10</a>
    <a href="" class="day">11</a>
    <a href="" class="day">12</a>
    <a href="" class="day">13</a>
    <a href="" class="day">14</a>
    <a href="" class="day">15</a>
    <a href="" class="day">16</a>
    <a href="" class="day">17</a>
    <a href="" class="day">18</a>
    <a href="" class="day">19</a>
    <a href="" class="day">20</a>
    <a href="" class="day">21</a>
    <a href="" class="day">22</a>
    <a href="" class="day">23</a>
    <a href="" class="day">24</a>
    <a href="" class="day">25</a>
  </div>
</div>

{{ content }}

