<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/bootstrap-toc.min.css' | relative_url }}" type="text/css">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

  </head>

  <body  data-bs-spy="scroll" data-bs-target="#toc">
    <header class="site-header">
      <div class="inner">
        <a href="{{ '/' | absolute_url }}">
          <h1 data-toc-skip>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
      </div>
    </header>

    {{ content }}


    <footer>
      <script src="/assets/js/jquery-3.6.3.min.js" integrity="sha384-Ft/vb48LwsAEtgltj7o+6vtS2esTU9PCpDqcXs4OCVQFZu5BqprHtUCZ4kjK+bpE" crossorigin="anonymous"></script>
      <script src="/assets/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
      <script src="/assets/js/bootstrap-toc.min.js"></script>
    </footer>
  </body>
</html>
