---
layout: post
---

<style>
    .menu-kringle {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100px;
    }
    
    .top-row-kringle {
      display: flex;
      justify-content: space-between;
      height: 50%;
    }
    
    .bottom-row-kringle {
      display: flex;
      justify-content: space-between;
      height: 50%;
    }
    
    .menu-item-kringle {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 5px;
      font-family: Arial, sans-serif;
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;
      color: #fff;
      box-shadow: 0 0 0 3px white;
      flex: 1;
    }
    
    .menu-item.longest {
      flex: 2;
    }
</style>
<div class="menu-kringle">
  <div class="top-row-kringle">
    <a class="menu-item-kringle" href="/pages/2022Kringlecon/WebRing.html">Web Ring</a>
    <a class="menu-item-kringle" href="/pages/2022Kringlecon/ElfenRing.html">Elfen Ring</a>
    <a class="menu-item-kringle" href="/pages/2022Kringlecon/TolkienRing.html">Tolkien Ring</a>
  </div>
  <div class="bottom-row-kringle">
    <a class="menu-item-kringle" href="/pages/2022Kringlecon/CloudRing.html">Cloud Ring</a>
    <a class="menu-item-kringle longest" href="/pages/2022Kringlecon/BurningRingOfFire.html">Burning Ring of Fire</a>
  </div>
</div>

{{content}}
