---
layout: default
---

<div id="content-wrapper">
  <div class="inner clearfix">
    <section id="main-content">
      <br>
        {{ content }}
    </section>
    <aside id="sidebar">
      <br>
      <a href="#top" style="color:#fff; font-size: 22px;">{{page.title}}</a>
      <br>
      <span class="tag-list"> 
        {% for tag in page.tags %}
          <a href="/tags/{{ tag }}">{{ tag }} </a> 
        {% endfor %}
      </span>
      <nav id="toc" data-toggle="toc"></nav>
    </aside>
  </div>
</div>
